TELEGRAM_BOT_TOKEN=your_bot_token_here
GOOGLE_APPLICATION_CREDENTIALS=serviceAccountKey.json
FIRESTORE_PROJECT_ID=your_project_id_here

# Diisi otomatis setelah deploy ke Cloud Run
WEBHOOK_URL=https://your-service-url.run.app/webhook
